/deep/ tbody tr td:nth-child(1) div{
    margin-left: 10px;
}

/deep/ .el-pager li {
    font-weight: normal;
    font-size: $font-size-base;
}

/deep/ .el-pagination span:not([class*=suffix]), .el-pagination button {
    font-size: $font-size-base;
}

/deep/ .el-pagination__sizes .el-input .el-input__inner {
    font-size: $font-size-base;
}

/deep/ .el-button--small {
    font-size: $font-size-base;
    height: 32px;
    width: 88px;
}

/deep/ .el-table .cell {
    font-size: $font-size-addition;

    .el-button {
        font-size: $font-size-addition;
    }
}

/deep/ .el-table th.el-table__cell {
    background-color: $bg-color-grey;
}
