.white-table {

  /deep/ .el-table,
  /deep/ .el-table__empty-block,
  /deep/ .el-table:before,
  /deep/ .el-table:after,
  /deep/ .el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell,
  /deep/ .el-table tr,
  /deep/ .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background: transparent;
  }

  /deep/ .el-table {
    color: $font-color-base;
  }

  /deep/ .el-table .el-table__header .el-table__cell {
    background: transparent;
  }


  /deep/ .el-table thead th {
    color: $font-color-base;
    font-size: 12px;
  }

  /deep/ .el-table__header-wrapper .el-table__cell {
    padding: 2px 0;
  }

  /deep/ .el-table__body-wrapper .el-table__cell {
    padding: 4px 0;
  }

  /deep/ .el-table__header-wrapper {
    .cell {
      font-weight: $font-weight-bold;
    }
  }
}
