.customized-table {

    //table head bg-color and color
    .el-table th.el-table__cell, .el-table .el-table__fixed-right-patch {
        background-color: $bg-color-divider;
        color: $font-color-base;
    }

    .el-table .el-table__body .el-table__cell {
        color: $font-color-secondary;
    }

    .el-table__fixed {
        height: auto;
    }

    .el-table:before, .el-table__fixed::before, .el-table__fixed-right::before{
        height: 0;
    }

    // 总计样式
    .el-table__fixed-footer-wrapper .el-table__cell, .el-table__footer-wrapper .el-table__cell{
        color: $font-color-base;
        font-weight: $font-weight-bold;
    }

    // 横向滚动条被挡住
    .empty-data.el-table--scrollable-x .el-table__body-wrapper {
        z-index: 1;
    }

    // 降低按钮高度
    .el-button--text {
        padding: 4px 14px 4px 0;
    }

    // 控制单行行高 30 + 12 * 2 padding
    &:not(.mini-table) .el-table .el-table__body .cell {
        line-height: 30px;
    }

    // 表头checkbox和表格中的对齐
    .el-table__header .el-table-column--selection.el-table__cell .cell {
        padding-left: 14px;
    }

    &:not(.has-border) .el-table .el-table__body .el-table__cell {
        border: none;
    }

    //有数据但只有一两条时 表格撑满 分页到底部
    &:not(.without-pagination) .el-table:not(.el-table--scrollable-x) {
        min-height: calc(100% - 62px);
    }

    // inline-block时0高度的元素会撑开父盒子的scrollWidth, 或者最小高度为1时也会撑开 1px的效果更佳;
    .el-table__body-wrapper[class*="is-scrolling"] {
        .el-table__body {
            min-height: 1px;
            //display: inline-block;
        }
    }

    //无数据时表格占满页面
    .el-table__empty-block{
        left: 0;
        top: 0;
        position: sticky;
        width: 100%!important;
    }

    //el-switch样式
    .el-switch .el-switch__core:hover {
        background-color: $font-color-plain !important;
    }

    .el-switch.is-checked .el-switch__core:hover {
        background-color: $theme-color !important;
    }
}

.mini-table {
    .el-table, .el-button {
        font-size: $font-size-addition;
    }
}

// customizedTable的祖先class包含flex-1，没有给高度的容器统统在数据为空时设置成empty-table-wrapper
[table='empty-table-wrapper'] {
    overflow: hidden;
}
